.titles{
  text-align: center;
  font-size: 20px;
}
/* Estilos parte 1 */
*{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}
@keyframes changeColor {0% {
  background: #2749BA; /* Primer fotograma */
  } 50% {
  background: #E4E8F6; /* Segundo fotograma */
  } 100% {
  background: #747987; /* Último fotograma */
  }
  }
  .anim { background: grey;color: #FFF; width: 150px; height: 150px;
  animation: changeColor 2s ease 0 infinite; /* Relaciona con @keyframes */
  }

  
.cardTitle{
animation: changeColor 5s linear 0.5s
4 normal forwards running;
}

@media (max-width:440px){ /*celular*/
  
  .cardTitle{
    background-color: #E76F58;
    color: #FCEDEA;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    text-align: center;   
  }

.cardMedicx{
  transition: all 0.45s ease-in;
  border: 1px solid rgb(116,121,135);
  width: 90%;
  padding: 0.5em;
  border: #80A48F 1px groove;
  margin: 0.5em;
  box-sizing: border-box;
  text-align: justify; 
}

 }

 
@media  (min-width:440px) and (max-width:768px){ /*tablet*/
  
  .cardTitle{
    background-color: #CDCB62;
    color: #E7E458;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    width: 33vw;
  }

  
.cardMedicx{
  transition: all 0.45s ease-in;
  border: 1px solid rgb(116,121,135);
  width: 45%;
  padding: 0.5em;
  border: #80A48F 1px groove;
  margin: 0.5em;
  box-sizing:content-box;
}

}

 
@media (min-width:769px){ /*notebook*/
  .cardTitle{
    background-color: rgb(39,73,186);
    color: #EAFCEB;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }
    
  .cardMedicx{
    transition: all 1s ease-in;
    border: 1px solid rgb(116,121,135);
    width: 30%;
    padding: 0.5em;
    border: #80A48F 1px groove;
    margin: 0.5em;
    box-sizing: border-box;
  }

}
.carousel{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  z-index: 0;
}
.cardFooter{
  font-style: italic;
  font-weight: bold;
}

/* Estilos parte 3 */
/* Opiniones */
.reviews{
  display: flex;
}

.opinions{
  transition: all 0.45s ease-in;
  width: 40vw;
  padding: 0.5em;
  margin: 0.5em;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.887);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}

.score-bar{
  transition: all 0.45s ease-in;
  width: 60vw;
  padding: 0.5em;
  margin: 0.5em;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Bordes de las calificaciones */

.borders-box{
  transition: all 0.45s ease-in;
  width: 15vw;  
  padding: 0.5em;
  margin: 0.5em;
  box-sizing: border-box;
}

.score{
  font-family: 'Secular One', sans-serif;
  font-size: 70px;
  color: rgb(39, 73, 186);
  text-align: center;
  font-weight: 800;
}

.material-symbols-outlined {
  font-size: 35px;
  color: rgb(61, 87, 171);
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48,
}



/* Progress bar*/
.container-calif {
  background-color: rgb(192, 192, 192);
  width: 100%;
  border-radius: 15px;
}

.Calif {
  background-color: rgb(61, 87, 171);
  color: white;
  padding: 0.1%;
  text-align: right;
  font-size: px;
  border-radius: 100px;
}

.items-bar-style{
  font-weight: bold;

}

.servicio {
  width: 80%;
  font-size: auto;
}
.precio {
  width: 90%;
  font-size: auto;
}

/* Contacto */
.contact-form {
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 40px 30px;
}

.contact-form .btn {
	background: rgb(83, 100, 157)  ;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 50px;
	letter-spacing: 2px;
  width: 100%;
  color: white;
}

.map-area {
	width: 600px;
	height: 100%;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.map-area iframe {
	width: 100%;
	height: 100%;
	border: none;
}

.footer-info {
  text-align: center;
  font-style: 'Open Sans', sans-serif;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 180px;
  background-color: rgb(94, 107, 149);
  text-align: center;
  padding: 20px;
}

.footerfonts {
  color: white

}

/* flexbox transparente entre secciones */

.space-between-blocks{
  display: flex;
}

.rectangle-empty-box{
  transition: all 0.45s ease-in;
  width: 100vw;
  height: 30px;
  padding: 0.5em;
  margin: 0.5em;
  box-sizing: border-box;

}

/* *** Validaciones Formulario de consulta */
.warning{
  width: 200px;
  text-align: center;
  margin: auto;
  color: rgb(39, 73, 186);
  padding-top: 20px;
  font-style: 'Open Sans', sans-serif;
  font-weight: bold;
}

/* *** MENU HAMBURGUESA */

header div.contenedor {
  place-content: flex-start;
}

header div.contenedor nav{
  width: 70%;
  display: flex;
  place-content: space-between;
}

#menu, #menu-check {
  display: none;

}

header{    
  background-color: #485DA4;
  color: #FCEDEA;
  text-decoration: none;
  padding: .35em;
}

@media only screen and (min-width:701px){ /*cel y tablet*/
  header div.contenedor, header div.contenedor ul, header div.contenedor ul li {
    display: inline;
  }

  header div.contenedor ul a{
    color: #FCEDEA;
    text-decoration: none;
    padding: .35em;
  }

  header div.contenedor nav{
    width: 100%;
    display: inline;
  }
}

@media only screen and (max-width: 700px){
  header h1{
    margin: 0;

  }

  header h1 a {
    padding: 0;
  }

  header div.contenedor{
    display: flex;
    place-content: space-between;
  }

    #menu-check:not(:checked) ~ nav{
      display: none;
    }

    #menu-check:checked ~ nav{
      display: block;
    }

    #menu{
      display: block;
      color: #485DA4;
      background-color: #E4E8F6;
      font-size: 1.2em;
      font-weight: bold;
      border: 3px solid #485DA4;
      border-radius: 0.3em;
      position: absolute;
      right: 0.5em;
      top: 0.5em;
      z-index: 9999;
    }

    #menu:hover{
      color: #E4E8F6;
      background: #485DA4;
      
    } 
    
    #menu-cerrar{
      display: none;
    }

    #menu-check:checked ~ label #menu-abrir{
      display: none;
    }

    #menu-check:checked ~ label #menu-cerrar{
      display: block;
    }

    header div.contenedor nav{
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background-color: #747987;
      padding-top: 0.5em;
      padding-right: 1.5em;
      opacity: 0.8;
      color: #E4E8F6;
      font-size: 1.4em;
      z-index: 998;
    }

    header div.contenedor nav ul a {
      color: #E4E8F6;
      background-color: none;
      text-decoration: none;
    }

    header div.contenedor nav ul{
      display: block;
    }

    header div.contenedor nav ul, header div.contenedor nav ul li{
      display: block;
      text-align: right;
    }

    header div.contenedor nav .boton-invertido{
      border: 0;
      border-radius: 0;
    }

    header div.contenedor nav .boton-invertido:hover{
      background: none;
      color: #485DA4;
    }

    main {
      text-align: center;
    }
}